/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

.highlight code{
	display: block;
	overflow-x: scroll;
}

html, body {
	height: 100%;
}

body {
  background-color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

::selection {
	background-color: #2B2B2B;
	color: #eee;
}

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('font/MonoSocialIconsFont-1.10.eot');
    src: url('font/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('font/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('font/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('font/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('font/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/

header{
	margin: 90px 0 35px 0;
}

.name a{
	font-size: 30px;
	font-weight: 100;
}

header a, header b{
	color: #444;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.25s ease-in;
	-webkit-transition: color 0.25s ease-in;
}

header a:hover, header a:hover b {
	color: #307EA9;
}

header a.active{
	color: #307EA9;
}

nav{
	width: 700px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.menu {
	padding: 0;
	margin: 5px 0;
	font-weight: 100;
}

.menu li {
	display: inline;
	padding-right: 15px;
}

.menu a {
	font-weight: 300;
}

li {
	padding: 0;
	list-style-type: none;
	font-size: 17px;
	margin-left: 0;
	line-height: 160%;
}

.hide{
  display: none;
}

.social {
	margin: -37px 0 0 0;
	padding: 0;
	padding-top: 2px;
	float: right;
}

.social li {
	display: inline;
}

.social li a{
	font-size: 27px;
}

footer{
	padding: 40px 0;
	border-top: 1px solid #eee;
	text-align: center;
	width: 700px;
	margin: 40px auto 40px auto;
	text-align:center;
	font-size:13px;
}

footer a{
	color: #666;
	text-decoration:none;
}

/*****************************************************************************/
/*
/* Content
/*
/*****************************************************************************/

.separator {
	background-color: #2B2B2B;
	background-size: 100% ;
	background-position-y:bottom;
	height: 200px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.4);
	background-repeat: no-repeat;
}

.separator.apropos{
	background-position-y: 49%;
}

.separator.contact{
	background-position-y: 23%;
}

.separator.home{
	background-position-y: 20%;
}

.separator.tag{
  background-position-y: 47%;
}

.author{
	color:#fff;
	float: right;
	margin-top: 181px;
	font-size: 0.8em;
	margin-right: 5px;
}

.container {
	width: 700px;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	font-size: 24px;
	margin: 30px 0 30px -27px;
	padding: 10px 0 10px 23px;
	border-left: 5px solid #eee;
	font-weight: 300;
	color: #444;
}

h2 {
	font-size: 1.8em;
	margin: 20px 0;
	font-weight: 500;
}

h3 {
	font-size: 1.3em;
	margin: 8px 0;
	font-weight: 300;
	text-decoration:underline;
}

.posts li a, .posts li a:visited{
	color: #307EA9;
	text-decoration:none;
	font-weight: 300;
}

.posts li{
	font-size: 1.4em;
	line-height: 190%;
}

article a{
	text-decoration: none;
	color: #888;
	font-style: oblique;
}

article a:hover{
	text-decoration: underline;
}

article li{
	list-style-type: square;
	font-size: 1.1em;
	margin-left: 40px;
}

article img{
	display: block;
	text-align: center;
	margin: 8px auto;
	border: 1px solid #CCC;
	border-radius: 3px;
	max-width: 100%;
}

article .article-tag{
	margin-top:20px;
}

.posts li span a,.posts li span a:visited{
	float: right;
	color: #CDCDCD;
	font-size: 0.9em;
	margin-left: 6px;
	font-weight: 300;
	font-style: italic;
}

.tags{
	margin-top:25px;
}

.tags li{
	display:inline;
}

.tags li,.tags li a,.tags li a:visited{
	color: #CDCDCD;
	margin-left: 3px;
	font-weight: 300;
	font-style: italic;
	text-decoration:none;
	font-size: 0.9em;
}

.posts li span a:hover,.tags li a:hover{
	color: #AAA;
}

.back{
	cursor:pointer;
	opacity:0.3;
	width: 19px;
	vertical-align: middle;
  margin-right: 5px;
}

.back:hover{
	opacity:0.7;
}

.no-border{
	border:none !important;
}

blockquote:before {
	display: block;
	content: "\201C";
	font-size: 70px;
	position: absolute;
	left: -7px;
	top: -20px;
	color: #7a7a7a;
}

blockquote {
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	max-width: 500px;
	margin:10px auto;
	padding: 0.25em 42px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	width:auto;
    display:table
}

#disqus_thread{
	margin-top: 60px;
}

/** CONTACT **/

.contact-list{
	text-align:center;
}

.contact-list a{
	font-size:17px;
	text-decoration:none;
	color: #444;
	line-height: 300%;
	white-space: nowrap;
	transition: color 0.25s ease-in;
	-webkit-transition: color 0.25s ease-in;
}

.contact-list a:hover{
	color: #307EA9;
}

.contact-list a .symbol{
	font-size:50px;
	vertical-align: top;
	margin-right:15px;
}

.contact-list li{
	display: inline-table;
	width: 26%;
	margin-right:10px;

}

/** A propos **/

.gravatar{
	border-radius: 100%;
	height: 120px;
	width: 120px;
	border: 1px solid #CCC;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

p {
	font-size: 1.1em;
	margin: 5px 0;
	padding: 5px 0;
}

.resume{
	display:block;
	overflow:hidden;
	clear:both;
}

.resume .icon{
	vertical-align: top;
	margin-top: -2px;
	margin-right: 3px;
	margin-left: -2px;
}


.timeslot {
	width: 432px;
	float: left;
	margin: 0 0 10px;
	padding: 10px 110px 0 0;
	border-top: 2px solid #ddd;
	position: relative;
	clear:left;
}

.timeslot .logo{
  margin-top:20px;
  width:86px;
}

.timeslot .title{
	font-size: 1.5em;
  font-weight: normal;
  margin: 5px 0;
  padding: 5px 0;
	margin-bottom: 0;
	padding-bottom: 0;
  text-decoration: none;
}

.timeslot .sub-title{
	font-size : 1em;
	margin:0;
	padding:0;
	color:#AAA;
	vertical-align: top;
}

.timeslot .sub-title a{
	font-size : 1em;
	color:#AAA;
}

.timeslot p.content a[href^="http"]:after, article a[href^="http"]:after {
     content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAMAAAC67D+PAAAABGdBTUEAANbY1E9YMgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAwUExURWdmZGhmZ2VnZmdlZmVlZTMzAGZoZ5mZmWNnZmdnZWZkZWdnZ9Ly52ZmZv////8AALUj7CAAAAAQdFJOU////////////////////wDgI10ZAAAAQElEQVR42mSKQRKAIAwDIyoIbez/f0uDM1zcXHZ2gtjgp+S9a2OAdVgP5nC8yVjfR+b6gaqfXi6K1Jg7mToFGAAkpgUSmADRiQAAAABJRU5ErkJggg==);
}

.timeslot a, .timeslot:active {
	text-decoration: none;
	color:inherit;
}

.timeslot a:hover{
	text-decoration: underline;
}

.timeslot span {
	position: absolute;
	right: 0; top: 20px;
	font-size: 3em;
	line-height: 1em;
	color: #999;
	display:table;
}

.timeslot span.year-month {
	margin-top: 26px;
}

.timeslot span.month {
	font-size: 18px;
	margin-top: -42px;
	width: 100%;
}

.timeslot p.content{
	margin-bottom: 0;
  min-height: 71px;
}

.timeslot p.skill{
	margin-top: 0;
	font-weight: 300;
	font-style: italic;
	color: #999;
}

.even {
	float: right;
	padding: 10px 0 0 110px;
	border-color: #ca0000;
	clear:right;
}
.even span {
	left: 0;
	color: #ca0000;
}

.intro{
	text-align: justify;
	text-justify: newspaper;
	font-size: 1.1em;
	margin-bottom: 20px;
}

.video{
	width: 100%;
	height: 350px;
}

code{
	padding-bottom:7px;
	padding-top:7px;
}

/*****************************************************************************/
/*
/* Mobile
/*
/*****************************************************************************/

@media only screen
and (max-width : 1024px){

	header{
		margin: 18px 0 15px 0;
	}

	nav{
		width: auto;
	}

	.author{
		margin-top: 89px;
		margin-right: 4px;
		font-size: 0.45em;
	}

	.separator {
		height: 100px;
	}

	.container {
		width: auto;
		margin-left:10px;
		margin-right:10px;
	}

	.gravatar{
		height:100px;
		width: 100px;
		margin-left: 20px;
	}

	h1 {
		margin: 19px 0 20px 6px;
		padding: 5px 0 5px 13px;
	}

	.back{
		opacity:0.7;
	}

	footer{
		width: auto;
	}

	.posts, .intro, .resume, .tags{
		margin-left: 20px;
		margin-right: 20px;
	}

}

@media only screen
and (max-width : 600px) {

	.social {
		position:absolute;
		top :58px;
		right : 10px;
	}

	.separator {
		height: 70px;
	}

	.author{
		margin-top: 61px;
		margin-right: 3px;
		font-size: 0.4em;
	}

	.menu li {
		padding-right: 10px;
	}

	.gravatar{
		margin-left: 0px;
	}

	.menu{
		text-align:center;
	}

	.social li:last-child {
		display: none;
	}

	.contact-list{
		text-align:left;
		margin: 0 auto;
		display: table;
	}

	.contact-list li{
		display: block;
		width:auto;
		margin:0;
	}

	.contact-list li a{
		display: block;
		overflow: hidden;
	}

	.posts li a{
		display: block;
		padding: 5px 10px;
		margin:5px 0;
		border-radius: 5px;
		background-color: #EFEFEF;
	}

	.timeslot{
		width:100%;
    padding: 10px 0 0 0;
	}

  .timeslot .title{
    margin-right: 92px;
  }

  .timeslot span{
    font-size: 2em;
    width: 110px;
    text-align: right;
  }

  .timeslot span.year-month{
      margin-top: 16px;
  }

  .even span{
    left:auto;
  }

  .timeslot .logo{
    display:none;
    /*margin-top:35px;*/
  }

	.posts, .tags{
		margin-left: 10px;
		margin-right: 10px;
	}

	.posts li span{
		display: none;
	}

	.intro, .resume{
		margin-left: 0px;
		margin-right: 0px;
	}

}
