<footer>
	 <a href="/">Julien Millau.fr</a>
</footer>
<!-- JS -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/tippy.js@2.4.1/dist/tippy.all.min.js"></script>
<script type="text/javascript" src="/js/default.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19411627-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script>
    tippy('.list-app .app-icon',{
        arrow: true,
        size: 'small',
        placement: 'bottom',
        animation: 'perspective',
        performance: true
    })
</script>
