<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
{% if page.title %}
<title>{{ page.title }} | {{ site.title }}</title>
{% else %}
    <title>{{ site.title }}</title>
{% endif %}
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport" content="width=device-width">
<meta name="author" content="Julien MILLAU">
<meta name="description" content="Devloppeur JEE et Mobile. Passionné de nouvelles technologies #Android #iOS #NFC #JEE #JSF #jQuery #CouchDB">       
<!-- CSS -->
<link href='http://fonts.googleapis.com/css?family=Roboto:100,900,400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/syntax.css">