<header>
	<nav>
		<section class="name">
			<a href="/">Julien<b>MILLAU</b></a>
		</section>

		<ul class="menu">
			<li><a href="/">Articles & Projects</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>

		<ul class="social">
			<li><a href="https://github.com/devnied" class="icon"><span class='symbol'>&#xe237;</span></a></li>
			<li><a href="https://twitter.com/devnied" class="icon"><span class='symbol'>&#xe286;</span></a></li>
			<li><a href="https://plus.google.com/107095208378558059489/about" class="icon" rel="me"><span class='symbol'>&#xe239;</span></a></li>
			<li><a href="https://fr.linkedin.com/in/millau" class="icon"><span class='symbol'>&#xe252;</span></a></li>
		</ul>
	</nav>
</header>
