<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" dir="{{ page.direction | default: 'ltr' }}">
    <head>
        {% include header.html %}
    </head>
    <body>
		{% include nav.html %}
		{% if page.img %}
			<div class="separator {{ page.sepStyle }}" style="background-image:url({{ page.img }})">
				{% if page.copy %}
					<div class="author">&copy;{{ page.copy }}</div>
				{% endif %}
			</div>
		{% endif %}
		<main class="container">
		  		<h1>
		  			{% if page.back %}
		  				<img src="/css/img/back.png" class="back"/>
		  			{% endif %}
		  			{{ page.title }} {{ page.subtitle }}
		  		</h1>
          {{ content }}
  		</main>
		{% include footer.html %}
    </body>
</html>
