<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include header.html %}
    </head>
    <body>
		{% include nav.html %}
		{% if page.img %}
			<div class="separator {{ page.sepStyle }}" style="background-image:url({{ page.img }})">
				{% if page.copy %}
					<div class="author">&copy;{{ page.copy }}</div>
				{% endif %}
			</div>
		{% endif %}
		<section class="container">
		  		<h1>
		  			{% if page.back %}
		  				<span class="back"><-</span>
		  			{% endif %}
		  			{{ page.title }} {{ page.subtitle }}
		  		</h1>
				{{ content }}
  		</section>
		{% include footer.html %}
    </body>
</html>
