---
layout: default
back: true
---
<article>
	{{ content }}
	<p class="article-tag">
		{% for tag in page.tags reversed %}
				<span><a class="tag" href="/tag/#{{ tag }}">#{{ tag }}</a></span>
		{% endfor %}
	</p>
	{% if page.comment %}
		<div id="disqus_thread"></div>
		<script type="text/javascript">
			var disqus_shortname = 'julienmillau';
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
    {% endif %}
</article>


